---
layout: default
title: Work
---
{% for post in site.posts %}
    {% if post.category == "Research"%}
        <div class="card">
            <div class="container bg-danger" width=100% style="padding: 5px 5px 5px 5px">
                <div class="row">
                    <div class="col-lg-3">
                            <div class="card-body">
                                <h4 class="card-title">{{post.title}}<br>
                                    <small>{{post.year}} | {{post.kind}}<br><br>
                                    {% if post.paper_link %}
                                        <a href={{ post.paper_link }} class="card-link">[Paper]</a>
                                    {% endif %}
                                    {% if post.writeup_link %}
                                        <a href={{ post.code_link }} class="card-link">[Writeup]</a>
                                    {% endif %}
                                    {% if post.code_link %}
                                        <a href={{ post.code_link }} class="card-link">[Code]</a>
                                    {% endif %}
                                    </small></h4>
                            </div>
                    </div>
                    <div class="col-lg-9">
                        <h4 class="card-text"><small>
                            {{post.description}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if post.category == "Application"%}
    <div class="card">
        <div class="container bg-danger" width=100% style="padding: 5px 5px 5px 5px">
            <div class="row">
                <div class="col-lg-3">
                        <div class="card-body">
                            <h4 class="card-title">{{post.title}}<br>
                                <small>{{post.year}} | {{post.kind}}<br><br>
                                {% if post.paper_link %}
                                    <a href={{ post.paper_link }} class="card-link">[Paper]</a>
                                {% endif %}
                                {% if post.writeup_link %}
                                    <a href={{ post.code_link }} class="card-link">[Writeup]</a>
                                {% endif %}
                                {% if post.code_link %}
                                    <a href={{ post.code_link }} class="card-link">[Code]</a>
                                {% endif %}
                                </small></h4>
                        </div>
                </div>
                <div class="col-lg-9">
                    <h4 class="card-text"><small>
                        {{post.description}}
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endfor %}