<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
     
       <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
       <!-- jQuery -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

       <script type="text/javascript" async
	       src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
       </script>

       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link href="/css/main.css" type="text/css" rel="stylesheet">
       
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    
    <header>
      <nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper container">
	  <a href="/" class="brand-logo">esqu1</a>
	  <ul class="right hide-on-med-and-down">
            <li><a href="/blog">Blog</a></li>
	    <li><a href="/aboutme.html">About Me</a></li>
	  </ul>
	  
	  <ul id="nav-mobile" class="side-nav">
            <li><a href="/blog">Blog</a></li>
	    <li><a href="/aboutme.html">About Me</a></li>
	  </ul>
	  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
      </nav>
    </header>
    
    <main>
      {{ content }}
    </main>

    <footer class="page-footer light-blue lighten-1">
      <div class="container">
	<div class="row">
	  <div class="col s12">
	    <h4 class="white-text">Connect with me!</h4>
	  </div>
	</div>
	<div class="row">
	  <div class="col s12 l4">
	    <a class="github-button" href="https://github.com/esqu1" data-style="mega" aria-label="Follow @esqu1 on GitHub">Follow @esqu1</a>
	  </div>
	  <div class="col s12 l4">
	    <div class="g-ytsubscribe" data-channel="brandbestawesome" data-layout="default" data-count="default"></div>
	  </div>
	  <div class="col s12 l4">
	    <div class="fb-like" data-href="https://www.facebook.com/BBestAwesome/" data-width="100" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
	  </div>
	</div>
      </div>
      <div class="footer-copyright">
	<div class="container">
	  © 2016 Brandon Lin
	</div>
      </div>
    </footer>
    
    <script src="/init.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

  </body>
</html>
